@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary: #FF7E4A;
  --color-secondary: #0F2B5B;
  --color-background-light: #F9FAFB;
  --color-background-dark: #111827;
  --color-surface-light: #FFFFFF;
  --color-surface-dark: #1F2937;
  --color-text-light: #1F2937;
  --color-text-dark: #F3F4F6;
  --color-border-light: #E5E7EB;
  --color-border-dark: #374151;
  --font-sans: var(--font-inter), sans-serif;
  --font-display: var(--font-inter), sans-serif;
  --radius: 0.5rem;
}